<h1>Eat-Da-Burger!</h1>

<ul class="undevoured-list">
    {{#each burgers}}
    {{#unless devoured}}
        {{> burger-block devourClass = "undevoured"}}
    {{/unless}}
    {{/each}}
</ul>

<ul class="devoured-list">
    {{#each burgers}}
    {{#if devoured}}
        {{> burger-block devourClass = "devoured"}}
    {{/if}}
    {{/each}}
</ul>

<form>
    <input id="burger-name-input"></textarea>
    <input type="submit" id="burger-submit">
    <label for="burger-name-input">Enter a burger you want to eat and click the "Submit" button</label>
</form>