body {
    background-color: orange;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: red;
    text-align: center;
}

.undevoured-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.undevoured {
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: white;
    padding: 5px;
}

.devour {
    float: right;
}

.devoured-list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    list-style-type: none;
}

.devoured {
    font-size: small;
    color: grey;
    border: 1px solid black;
    margin-bottom: 1px;
    background-color: white;
    padding: 2px;
}

form {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 400px;
}

input {
    width: fit-content;
}
